name: Go Lint + Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0

      - name: Run Lints
        run: golangci-lint run -c .golangci.yml ./...

      - name: Run Test
        run: go test -v ./... -test.timeout 1s